{% extends "admin/base.html" %}
{% load static %}

{% block title %}{% if subtitle %}{{ subtitle }} | {% endif %}{{ title }} | {{ site_title|default:"Sistema de Ventas Admin" }}{% endblock %}

{% block branding %}
<h1 id="site-name">
    <a href="{% url 'admin:index' %}">Sistema de Ventas</a>
</h1>
{% endblock %}

{% block userlinks %}
    <a href="{% url 'inventario' %}" style="color: #fb923c; margin-right: 15px; font-weight: 600;">🏪 Ir a la Tienda</a>
    {{ block.super }}
{% endblock %}

{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'tienda/css/admin.css' %}">
{% endblock %}